<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CommonServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/dashboard/services/CommonPort"
                binding="basicHttpBinding" bindingConfiguration="CommonServiceSoapBinding"
                contract="ServiceReference.ICommon" name="CommonPort" />
        </client>
    </system.serviceModel>
</configuration>